.navbar {
  @include flex;
  // max-width: $max-width;
  width: 100%;
  padding: 1rem 10rem;
  margin: 0 auto;
  position: fixed;
  background-color: white;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 100;
  box-shadow: $shadow-primary;

  @media only screen and (max-width: $screenOne) {
    padding: 1rem 3.4rem;
  }

  @media only screen and(max-width : $screenSeven) {
    padding: 1rem;
  }

  &-wrapper {
    background-color: white;
  }

  &__left {
    @include flex;
    justify-content: flex-start;
    @media only screen and (max-width: $screenTwo) {
      padding: 1rem;
    }
  }

  &__right {
    align-self: stretch;
    height: 100%;
    padding: 1rem;
  }

  &__logo {
    height: 3.5rem;
    @media only screen and(max-width : $screenSeven) {
      height: 2.4rem;
    }
  }

  &__btn {
    @include flex;
    justify-content: flex-start;
    padding: 1rem 2rem;
    border-radius: 10rem;
    box-shadow: $shadow-primary;
    text-transform: capitalize;
    font-size: 1.6rem;
    color: $color-text-1 !important;
    transition: all 0.2s ease-in-out;

    & svg {
      width: 2.8rem;
      margin-left: 1.4rem;
      color: $color-primary;
    }

    &:hover {
      box-shadow: $shadow-secondary;
    }

    @media only screen and (max-width: $screenTwo) {
      display: none;
    }
  }

  &__link {
    display: inline-block;
    color: currentColor;
    padding: 1rem 1.6rem;
    margin: 0 0.2rem;
    text-transform: capitalize;
    font-weight: medium;
    &:hover {
      color: $color-primary;
      // font-weight: 600;
    }
  }

  &__list {
    margin-left: 4rem;
    font-size: 1.6rem;
    color: $color-text-2;

    @media only screen and (max-width: $screenTwo) {
      display: none;
    }
  }
}

.navbar-toggle-btn {
  color: $color-text-2;
  width: 3.2rem;
  height: 3.2rem;
  background: white;
  border: none;

  &:hover {
    cursor: pointer;
  }
  @media screen and (max-width: $screenTwo) {
    display: block;
  }
}

.navbar-toggle {
  border: none !important;
  outline: none !important;
  display: none;

  @media screen and (max-width: $screenTwo) {
    display: block;
  }
}

.navbar-mobile {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(-100vh);
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: all 0.4s ease-in-out;

  & > a {
    font-size: 2rem;
    display: inline-block;
    margin: 1rem 0;
  }
}

.navbar-close {
  position: absolute;
  top: 4rem;
  right: 4rem;
  font-size: 3rem;

  &:hover {
    color: red;
    cursor: pointer;
  }
}

.navbar-active {
  display: flex;
  transform: translate(0, 0);
}
